{% extends 'core/base_app.html' %}

{% block title %}{{ post.title }} - 게시판{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>{{ post.title }}</h1>
            <div class="d-flex justify-content-between">
                <span>작성자: {{ post.user.username }}</span>
                <span>{{ post.created_at|date:"Y-m-d H:i" }}</span>
            </div>
        </div>
        <div class="card-body">
            <p>{{ post.content|linebreaksbr }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'board:post_list' %}" class="btn btn-secondary">게시판 돌아가기</a>
            {% if user == post.user %}
                <a href="{% url 'board:post_update' post.pk %}" class="btn btn-warning">수정</a>
                <a href="{% url 'board:post_delete' post.pk %}" class="btn btn-danger">삭제</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
