{% extends 'core/base.html' %}

{% block title %}정보 수정 - Bani Project{% endblock %}

{% block content %}
<div class="auth-page-wrapper">
    <div class="auth-container">
        <h2>정보 수정</h2>
        <p>회원님의 정보를 수정할 수 있습니다.</p>
        <form method="post">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group mb-3">
                <label for="{{ form.nickname.id_for_label }}">닉네임</label>
                {{ form.nickname }}
                {% for error in form.nickname.errors %}
                <div class="alert alert-danger mt-1 p-2">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group mb-3">
                <label for="{{ form.email.id_for_label }}">이메일</label>
                {{ form.email }}
                {% for error in form.email.errors %}
                <div class="alert alert-danger mt-1 p-2">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group mb-3">
                <label for="{{ form.region.id_for_label }}">지역</label>
                {{ form.region }}
                {% for error in form.region.errors %}
                <div class="alert alert-danger mt-1 p-2">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group mb-3">
                <label for="{{ form.gender.id_for_label }}">성별</label>
                <div>{{ form.gender }}</div>
                {% for error in form.gender.errors %}
                <div class="alert alert-danger mt-1 p-2">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="d-flex justify-content-end mt-4">
                <a href="{% url 'mypage:mypage' %}" class="btn btn-secondary me-2" style="color: white;">취소</a>
                <button type="submit" class="btn btn-primary">수정 완료</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}