{% extends 'core/base.html' %}

{% block title %}새 비밀번호 설정 - Bani Project{% endblock %}

{% block content %}
<div class="auth-page-wrapper">
    <div class="auth-container">
        <h2>새 비밀번호 설정</h2>
        <p>새로운 비밀번호를 입력하고 확인해주세요.</p>
        <form method="post">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div class="alert alert-danger">날씨
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group mb-3">
                <label for="{{ form.new_password1.id_for_label }}">새 비밀번호</label>
                {{ form.new_password1 }}
                {% for error in form.new_password1.errors %}
                <div class="alert alert-danger mt-1 p-2">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group mb-3">
                <label for="{{ form.new_password2.id_for_label }}">새 비밀번호 확인</label>
                {{ form.new_password2 }}
                {% for error in form.new_password2.errors %}
                <div class="alert alert-danger mt-1 p-2">{{ error }}</div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">비밀번호 변경</button>
        </form>
    </div>
</div>
{% endblock %}
