<!-- 하단 푸터 -->
<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5 class="mb-3">BaniBani</h5>
                <p>우리 학교 생활의 모든 것, 한 곳에서.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5 class="mb-3">빠른 링크</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-decoration-none" href="{% url 'board:post_list' %}">게시판</a></li>
                    <li><a class="text-decoration-none" href="{% url 'market:market_page' %}">중고거래</a></li>
                    <li><a class="text-decoration-none" href="{% url 'dating:dating_page' %}">데이팅</a></li>
                    <li><a class="text-decoration-none" href="{% url 'news:news_page' %}">뉴스</a></li>
                    <li><a class="text-decoration-none" href="{% url 'weather_page' %}">날씨</a></li>

                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5 class="mb-3">연락처</h5>
                <ul class="list-unstyled text-small">
                    <li>이메일: info@banibani.com</li>
                    <li>전화: 02-1234-5678</li>
                    <li>주소: 서울특별시 캠퍼스로 123</li>
                </ul>
                <div class="mt-3">
                    <a href="#" class="me-3"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="me-3"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <p class="text-center mb-0">© 2025 BaniBani. All rights reserved.</p>
    </div>
</footer>